body, html {
  padding: 0;
  margin: 0;
}

.hamburger {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  z-index: 2;
  background-color: #552586;
  width: 100%;
}
.hamburger span, .hamburger:before, .hamburger:after {
  content: " ";
  width: 30px;
  height: 1px;
  background-color: #000;
  transform: rotate(0);
  position: absolute;
  left: 10px;
  transition: all 300ms ease-in-out;
}
.hamburger:before {
  top: 16px;
}
.hamburger span {
  top: 25px;
  opacity: 1;
}
.hamburger:after {
  bottom: 15px;
}
.hamburger.active span {
  opacity: 0;
  top: 25px;
  transform: rotate(90deg);
}
.hamburger.active:before {
  width: 34px;
  top: 25px;
  left: 8px;
  transform: rotate(45deg);
}
.hamburger.active:after {
  width: 34px;
  bottom: 24px;
  left: 8px;
  transform: rotate(-45deg);
}

.main-nav__list {
  display: flex;
  justify-content: flex-end;
}

  .main-nav__list {
    overflow: hidden;
    background-color: ;
    background-image:url("../img/background2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 96vh;
    z-index: 1;
    transition: all 0.3s ease;
  }
  .main-nav__list.open {
    width: 100%;
  }

  .main-nav__item {
    margin:10px 10px;
    background: #552586;
    border-radius: 50px;
    padding: 3vh 90px;
    text-align: center;
    width: 7vw;
    transition: .3s ease;
    box-shadow: 0 15px 60px -5px rgba(0, 0, 0, .7);
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 30px;
  }
 /*einde navigatie*/


#foto_vlak_rechts_home img{
  width: 30vw;
}

#home {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image:url("../img/background2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

 #home_h1 {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  width: 85vw;
  margin-left: 5vw;
  padding-top: 4vw;
 }

 #home_h1 h1{
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  color: white;
 }

#home p {
  margin-top: 3vw;
  font-size: 16px;
  color: white;
  margin-right: 15vw;
}


#foto_vlak_rechts img {
  width: 40vw;
  border-radius: 25px; 
  border: solid 3px black;
}


/*over mij page*/

#over_mij {
  position: relative;
  height: 140vh;
  width: 100%;
  background-image:url("../img/background3.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#foto_vlak_rechts_over_mij img{
  width: 30vw;  
}

#over_mij_h1 {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  width: 85vw;
  margin-left: 5vw;
  padding-top: 20vw;
}

 #over_mij_h1 h1{
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  color: white;
 }

#over_mij p {
  margin-top: 3vw;
  font-size: 16px;
  color: white;
  margin-right: 15vw;
}

/*skills page*/
/*ook de code voor projecten*/
#skills_projecten {
  position: relative;
  height: 75vh;
  width: 100%;
}

/*hele section*/
#skills_projecten_h1 {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  width: 90vw;
  margin-left: 4vw;
  padding-top: 10vw;
}

 #skills_projecten_h1 h1{
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  color: black;
 }

#skills_projecten p {
  margin-top: 3vw;
  font-size: 16px;
  color: black;
  margin-right: 15vw;
}

#text_button_h1 {
  width: 55vw;
}

/*projecten page*/
/*ook de code voor projecten 1tm5*/
#projecten {
  position: relative;
  height: 140vh;
  width: 100%;
  background-image:url("../img/background3.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#projecten_h1 {
  display: flex;
  justify-content: space-around;
  width: 90vw;
  margin-left: 4vw;
  padding-top: 25vw;
}

 #projecten_h1 h1{
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  color: white;
 }

#projecten p {
  margin-top: 3vw;
  font-size: 16px;
  color: white;
  margin-right: 15vw;
}

#foto_vlak_rechts_projecten img{
  width: 30vw;
}

/*contact page*/
#contact {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image:url("../img/background2_contact.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#contact_h1 {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  width: 95vw;
  margin-left: 2vw;
  padding-top: 9vw;
}

 #contact_h1 h1{
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  color: white;
 }

#contact p {
  margin-top: 3vw;
  font-size: 16px;
  color: white;
  margin-right: 15vw;
}

#foto_vlak_rechts_contact {
  width: 30vw;
  height: 25vw;
  margin-top: 10vw;
}
#foto_vlak_rechts_contact img {
  width: 30vw;
}

#foto_vlak_rechts_mobile_projecten img{
  display: none;
}
.grid-container {
  display: grid;
  color: white;
  margin-top: 10vw; 
  align-items: center;
  column-gap: 5vw;
  font-size: 35px; 
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "logo1 tekst1" "logo2 tekst2" "logo3 tekst3";
}

.grid-container img {
  width:  3vw;
}

.logo1 { 
  grid-area: logo1;
 }

.logo2 { 
  grid-area: logo2;
 }

.logo3 { 
  grid-area: logo3; }

.tekst1 { 
  grid-area: tekst1;}

.tekst2 { 
  grid-area: tekst2;}

.tekst3 { 
  grid-area: tekst3;}

/*begin buttun css*/
.container {
  margin-top: 2vw;
}
.button {
  color: #fff;
  font-weight: normal;
  font-size: 22px;
  background: #552586;
  border-radius: 50px;
  padding: 30px 90px;
  border: none;
  transition: .3s ease;
  box-shadow: 0 15px 60px -5px rgba(0, 0, 0, .7);
}

.button:hover {
  box-shadow: none;
  cursor: pointer;
  background-image: linear-gradient(#552586, #804FB3);  
  box-shadow: 0 15px 60px -5px rgba(0, 0, 0, .9);
  
}

.button:hover + .drip-1{
  height: 50px;
  box-shadow:  rgba(165, 55, 253, 1);
  background-image: linear-gradient(#804FB3, #B589D6); 
}

.button:hover ~ .drip-2{
  height: 90px;
  background-image: linear-gradient(#552586, #B589D6); 
}

.button:hover ~ .drip-3{
  height: 30px;
  background-image: linear-gradient(#552586, #B589D6); 
}

.button:hover ~ .drip-4{
  height: 50px;
  box-shadow:  rgba(165, 55, 253, 1);
  background-image: linear-gradient(#804FB3, #B589D6); 
}

.button:hover ~ .drip-5{
  height: 75px;
  box-shadow:  rgba(165, 55, 253, 1);
  background-image: linear-gradient(#804FB3, #B589D6); 
}

.button:hover ~ .drip-6{
  height: 65px;
  background-image: linear-gradient(#552586, #B589D6); 
}


.drip-1{
  position:absolute;
  width:19px;
  height:0px;
  border-radius:0 0 21px 21px;
  background:#efd5e7;
  margin: 0px 158px;
  transition: height 1s ease;
}


.drip-2{
  position:absolute;
  width:19px;
  height:0px;
  border-radius:0 0 21px 21px;
  background:#efd5e7;
  margin: 0px 140px;
  transition: height 2s ease;
}

.drip-3{
  position:absolute;
  width:15px;
  height:0px;
  border-radius:0 0 21px 21px;
  background:#efd5e7;
  margin: 0px 60px;
  transition: height .7s ease;
}

.drip-4{
  position:absolute;
  width:19px;
  height:0px;
  border-radius:0 0 21px 21px;
  background:#efd5e7;
  margin: 0px 40px;
  transition: height 1.5s ease;
}

.drip-5{
  position:absolute;
  width:18px;
  height:0px;
  border-radius:0 0 21px 21px;
  background:#efd5e7;
  margin: 0px 100px;
  transition: height 1.2s ease;
} 

.drip-6{
  position:absolute;
  width:15px;
  height:0px;
  border-radius:0 0 21px 21px;
  background:#efd5e7;
  margin: 0px 190px;
  transition: height 1.5s ease;
}
/*einde button */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px)AND (max-width: 520px) {
  #home {
  height: 60vh;
  position: relative;
  background-image:url("../img/background2_2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.main-nav__list {
  background-size: 800% 200%;
}

#home_h1 {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  width: 95vw;
  margin-left: 2vw;
  padding-top: 4vw;
 }

 #foto_vlak_rechts_home img{
  width: 30vw;
  margin-top: 20vw;
}

#home_h1 h1{
  font-size: 2em;
 }

 #home p {
  margin-right: 0vw;
}

#foto_vlak_rechts {
  display: none;
}

.container {
  display: none;
}

/*over mij page*/
  #over_mij {
  position: relative;
  height: 60vh;
  background-image:url("../img/background3_2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#over_mij_h1 {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  width: 95vw;
  margin-left: 2vw;
  padding-top: 22vw;
}

#over_mij_h1 h1{
  font-size: 2em;
 }

 #foto_vlak_rechts_over_mij img{
  width: 30vw; 
  margin-top: 20vw; 
}
#skills_projecten {
  height: 45vh;
}

#projecten_h1 h1 {
  font-size: 2.3em;
  margin-top: 4vw;  
}

#skills_projecten_h1 h1 {
  font-size: 2.3em
}

#foto_vlak_rechts_projecten {
  width: 30vw;
  margin-top: 20vw; 
}

 #projecten {
  position: relative;
  height: 60vh;
  background-image:url("../img/background3_2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#projecten_h1 {
  justify-content: stretch;
    padding-top: 16vw;
}

#projecten_h1 p {
  margin-right: 0vw;
}

#skills_projecten p {
  margin-right: 0vw;
}

#foto_vlak_rechts_mobile_projecten img{
  width: 30vw;
  margin-top: 20vw; 
  display: block;
}

#skills_projecten_h1 {
  justify-content: stretch;
}

 #contact {
  position: relative;
  height: 60vh;
  background-image:url("../img/background2_contact_2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.grid-container {
  display: grid;
  color: white;
  align-items: center;
  column-gap: 5vw;
  font-size: 25px; 
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "logo1 tekst1" "logo2 tekst2" "logo3 tekst3";
}

#contact_h1 h1 {
  text-align: center;
  margin-top: 15vw;
}
.grid-container img {
  width:  10vw;
}

#foto_vlak_rechts_contact {
  display: none;
} 

}


@media only screen and (min-width: 521px)AND (max-width: 1200px) {

  .container {
    display: none;
  }

  #home {
  height: 50vh;
}

#over_mij {
  height: 70vh;
}

#contact_h1 {
  padding-top: 25vw;
}

#projecten {
  height: 70vh;
}

#projecten_h1 {
  padding-top: 18vw;
}

#skills_projecten {
    height: 45vh;
}

#contact {
  height: 70vh;
}
}