/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header li {
    float: left;
  }

 
body, h1  {
  margin: 0;
  padding: 0;
  
}


.logo img {
  display: none;
}

a {
  color: #000;
}

/* header */

.menu {


}

#_bobs {
  
  text-align: center;
  width: 100vw;
}


  .header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  opacity: 0.9;

}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 0px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: black;
  margin-top: 2vw;


}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  text-decoration: none;
}

.logo {
   margin-top: -3%;
   margin-left: -3%;
   text-decoration: none;
   margin-bottom: -3%;
}

/* menu */

.header .menu {
  clear: both;
  transition: max-height .2s ease-out;
  font-size: 20px;
  margin-top: 2vh;
  text-align: center;

}



/* menu btn */

.header .menu-btn {
  display: none;
}



#mainDiv {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ebebeb;
  
}


#_footer  {
  background-color: #35353c;
  width: auto;
  margin-left: 0%;
  
}

#_footer h1  {
  padding-top: 10%;
  padding-bottom: 3%; 
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 1;
  text-align: center;
}

#_footer p {
  margin:0 15%;
  font-size: 15px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 1;
  text-align: center;

}

#_list1   li {
  width: 15%;
  padding-left: 0%;
  
  list-style-type: none;
  color: white;
}

#_list1 ul {
  display: inline-block;
  vertical-align: top; 
}

ul li a{
  color: white;
}

a:link{
  text-decoration: none!important;
}

#_list2 ul li {
  display: inline-block;
  list-style-type: none;
  padding-left:  2vw;
  padding-right: 2vw;
  padding-right:  5%;
  margin-bottom: 5%;

}


.header .menu {
  clear: none;
  float: right;
  max-height: none;
  
}

#_buttons button {
    margin-top: 30vw;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    margin-bottom: 5vw;


}

#_buttons {
  background-color: #ebebeb;
  padding-bottom: 10vw;

}

.autoskellet   {
  background-color: #ebebeb;
  border: solid 5px;
  padding-bottom: 5vw;
}

.autoskellet img {
  width: 70vw;
}

.autoskellet button {
  width: 20vw;
  height: 20vw;
}


} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header li {
    float: left;
  }


 
body, h1 {
  margin: 0;
  padding: 0;
}


.logo img {
  height: 25vh; 
  width: auto;
}

a {
  color: #000;
}

#_buttons button {
  margin-top: 10vw;
  margin-bottom: 10vw;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;

}


button:hover {
  background-image: url(https://image.freepik.com/vrije-photo/zwarte-leder-texture-textuur-achtergrond-leder-texture-zwarte-textuur-doek-textuur_1627-1792.jpg);
}

#_buttons {
  background-color: #ebebeb;
}

.autoskellet {
  border: solid 5px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 5vw;
  background-color: #ebebeb;
}

.autoskellet img {
  float: right;
  margin-top: -5vw;
  width: 40vw;
  

}

.autoskellet h1 {
  margin-top: 5vw;
  margin-bottom: 5vw;
  font-size: 30px;

}

.autoskellet p{
  margin-bottom: 5vw;
  margin-right: 60vw;
  font-size: 20px;


}
/* header */

.menu {

}

#_bobs {
  margin-top: 4vh;
  margin-left: 17vw;
  text-align: center;
}


  .header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  opacity: 0.9;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: black;
  margin-top: 2vw;


}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  text-decoration: none;
}

.logo {
   margin-top: -3%;
   margin-left: -3%;
   text-decoration: none;
   margin-bottom: -3%;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  margin-top: -3%;
  transition: max-height .2s ease-out;
  font-size: 20px;
  margin-top: 3vh;

}



/* menu btn */

.header .menu-btn {
  display: none;
}



#mainDiv {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ebebeb;
  
}



#_footer  {
  background-color: #35353c;
  width: 80%;
  margin-left: 10%;
  
}

#_footer h1  {
  padding-top: 10%;
  padding-bottom: 3%; 
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 1;
  text-align: center;
}

#_footer p {
  margin:0 15%;
  font-size: 15px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 1;
  text-align: center;

}

#_list1   li {
  width: 15%;
  padding-left: 5%;
  float: left;
  list-style-type: none;
  color: white;
}

ul li a{
  color: white;
}

a:link{
  text-decoration: none!important;
}

#_list2 ul li {
  display: inline-block;
  list-style-type: none;
  padding-left:  2vw;
  padding-right: 2vw;
  padding-right:  5%;
  margin-bottom: 5%;

}


.header .menu {
  clear: none;
  float: right;
  max-height: none;
  }
}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

 

















