* {
	padding:0;
	margin: 0;
}
body {
	background-color: #f3cf55;
}


#hamburger {
	position: absolute;
	top: 2%;
	width: 20%;
	height: 30%;
	background-color: transparent;
     
	

	
}

.cross {
	width:200px; 
	height:40px;
	border: solid 1px;
	border-color: black;
	text-shadow: 2px 2px white;

	
	background-color: transparent;
}

#navigatie {
	display: none;

	

}

#navigatie button {
	height: 6vh;
	font-size: 4vh;

}

#navigatie ul {
	list-style-type: none;


}



#navigatie a {
	text-decoration: none;
	font-size: 20vh;
	
}

#navigatie a:active, a:link, a:visited {color: black;



	
}

#navigatie a:hover {
	color: white;
	text-shadow: 15px 5px black;

}




#header_ {
	background-color: #efd1c6;
	padding: 2%;

}

header h1 {
	text-align: center;
	font-size: 35px;

}

#article_main {
	width: 100%;
	
	text-align: center;
}

#cartoon_png {
	padding-top: 6%;
	padding-bottom: 8%;
}

#section_white1 {
	background-color: white;
	position: absolute;
	width: 20%;
	padding-bottom: 5%;
	left: 5vw;
	border-color: #efd1c6;
	border-style: solid;
	border-width: 2vw;
	border-radius: 10px;
	margin-top: 25vw;


}

#h1_white {
	text-align: center;

}

#section_white2 {
	background-color: white;
	position: absolute;
	right: 5vw;
	width: 20%;
	padding-bottom: 5%;
	border-color: #efd1c6;
	border-style: solid;
	border-width: 2vw;
	border-radius: 10px;
	margin-top: 25vw;

}

#h1_white2 {
	text-align: center;
}

#mensen_png {
	padding-top: 95vw;
	width: 25%;

}

#mensen_png2 {
	padding-top: 95vw;
	width: 25%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    position: absolute;
    left: 75%;


}

#footer_p {
	font-size: 40px;
	text-align: center;
	background-color: #578ca9;
	padding-top: 3vw;
	padding-bottom: 3vw;
}

#floral_png {
	width: 30%;
	position: absolute;
}

#floral_png2 {
	width: 30%;
	position: absolute;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    position: absolute;
    left: 70%;
}

#brain_png {
	position: absolute;
	padding-top: 25%;
	padding-left: 30%;
	width: 40%;
}
#images_ img {
	border: solid;
 	border-color: black;
 	position: absolute;
 	width: 9%;
 	height: 21%;
}

#book_1 {	
	margin-top: 95vw;
 	margin-left: 30vw;


}

#book_2 {	
	margin-top: 95vw;
 	margin-left: 60vw;

}

#book_3 {
	margin-top: 95vw;
 	margin-left:45vw;
 
}

#Books_ {
	position: absolute;
	top: 275%;
	left: calc(37% - 37px);
	font-size: 150px;
	font-family: 'Source Sans Pro', sans-serif;
	border: solid 1px;
	border-radius: 20%;
	border-color: white;

}

