* {
  padding:0;
  margin:0;
}

body {
width: 90vw;
font-family: 'Work Sans', sans-serif;
overflow-x: hidden;
overflow-y: hidden;
}

nav {
  width:100vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2px;
  align-items: center;
  text-align: center;
}


.1 {
  grid-column: 1;
}

.2 {
  grid-column: 2;
}

.3 {
  grid-column: 3;
}

.4 {
  grid-column: 4;
}

.5 {
  grid-column: 5;
}


.navitem {
  text-decoration: none;
  color: black;
  font-size:30px;
}

.navitem:hover {
  text-decoration:underline;
}


.info {
  margin-top:4%;
  width:85vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0vw;
  align-items: center;
  text-align: center;
}


.b1 {
  grid-column: 1;
}

.b2 {
  grid-column: 2;
}


.asitem {
  text-decoration: none;
  color: black;
  font-size:30px;
}

.textitem {
  text-decoration: none;
  color: black;
  font-size:30px;
  text-align: left;
}
